@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html,body{
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}
/* loader */
.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #363636;
    width: 5rem;
    height: 5rem;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* go to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 4%;
    right: 2%;
    z-index: 900;
    cursor: pointer;
    transition: 2s ease;
    width: 3%;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #204679;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.45;
}
.banner .content{
    position: relative;
    max-width: 750px;
    text-align: center;
}
.banner .content h2{
    color: #fff;
    font-size: 60px;
}
.banner .content p{
    color: #fff;
    font-size: 18px;
    font-family: 'Coming Soon', cursive;
}
.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.banner .logo-div{
    width: 100%;
    position: relative;
}
.banner .logo-div a:nth-child(2){
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.banner header .logo{
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.banner header .toggle{
    position: relative;
    width: 50%;
}
.banner header .toggle ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner header .toggle ul a{
    text-decoration: none;
}
.banner header .toggle ul li{
    list-style-type: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.about{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
}
.about .contentBx{
    padding: 5%;
    width: 50%;
}
.heading{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.text{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}
.about .social{
    display: flex;
    align-items: center;
}
.about .social a{
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    font-size: 15px;
}
.about .social a img{
    width: 30px;
    height: 30px;
}
.about h4{
    padding:5px 20px;
    text-transform: uppercase;
    margin-top: 10px;
}
.about hr{
    margin: 5px 0;
    background-color: #fff;
    border:1px solid rgb(207, 207, 207);
}
.about .logo{
    width: 100%;
    margin: 20px 0;
}
.about .imgBx{
    background: url("../assets/aboutgaurav.png");
    width: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.about .imgBx:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    top   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to left, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 100%);
    width    : 50%;
    height   : 100%;
}

.services{
    background: url("../assets/back.png");
    background-size: cover;
    background-position: center;
    padding: 100px;
    text-align: center;
}
.services .heading{
    background-color: #fff;
    color: black;
    width: 20%;
    margin: 10px auto;
}
.services .text{
    margin: 0 auto;
    max-width: 800px;
    font-size: 20px;
}
.services .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}
.services .container .serviceBx{
    position: relative;
    background: #fff;
    width: 225px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.5rem;
    padding: 20px;
    transition: 0.5s ease;
    z-index: 990;
    clip-path: polygon(0 0, 30% 0, 35% 5%, 65% 5%, 70% 0, 100% 0, 100% 100%, 70% 100%, 65% 95%, 35% 95%, 30% 100%, 0 100%);
    opacity: 0.8;
}
.services .container .serviceBx img{
    max-width: 80px;
}
.services .container .serviceBx h2{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
}
.services .container .serviceBx:hover{
    transform: scale(1.02);
    background-color: #00aeef;
    opacity: 1;
}

.technology{
    background: #3f8ffc;
    width: 100%;
    padding: 100px;
    padding-top: 250px;
    margin-top: -250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 0;
}
.technology .contentBx{
    width: 100%;
    height: 50vh;
    position: relative;
    padding: 50px;
    padding-top: 180px;
    z-index: 1000;
}
.technology .contentBx .heading{
    background: #fff;
    color: black;
    width: 50%;
    padding: 0.2rem 1rem;
}
.technology .contentBx .text{
    max-width: 800px;
}
.technology .video-container video{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}

.gallery{
    padding:100px;
    text-align: center;
}
.gallery h2{
    color: black;
    margin-bottom: 50px;
}
.gallery #photos {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 5;
    -webkit-column-gap:   5px;
    -moz-column-count:    5;
    -moz-column-gap:      5px;
    column-count:         5;
    column-gap:           5px;  
    position : relative;
}
.gallery #photos:after {
    content  : "";
    position : absolute;
    z-index  : 1;
    bottom   : 0;
    left     : 0;
    pointer-events   : none;
    background-image : linear-gradient(to bottom, 
                      rgba(255,255,255, 0), 
                      rgba(255,255,255, 1) 90%);
    width    : 100%;
    height   : 40vh;
  }
  
.gallery  #photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    margin-bottom: 5px;
}
.yet{
    border:1px solid #363636;
    width: 20vw;
    margin: 0 auto;
    padding: 0.5rem;
    border-radius: 50px;
    cursor: pointer;
}

.contact{
    padding: 50px;
    background: #162c3b;
    text-align: center;
}
.imgBx2{
    background: url("../assets/bg2.jpg");
    background-size: cover;
    background-position: center;
    width: 50%;
}
.redbg{
    background: url("../assets/red.jpg") !important;
    background-size: cover;
    background-position: center;
}
.form .inputBx{
    margin-bottom: 40px;
}
.form .inputBx input{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    border-bottom: 2px solid #fff;
}
.form .inputBx input::placeholder{
    color: #fff;
}
.form .inputBx textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
    border-bottom: 2px solid #fff;
}
.form .inputBx textarea::placeholder{
    color: #fff;
}
.form .inputBx input[type=button]{
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
    font-weight: 400px;
    cursor: pointer;
    transition: 0.5s ease;
}
.form .inputBx input[type=button]:focus{
    transform: scale(0.8);
}
.footer{
    background: #162c3b;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer p{
    font-size: 14px !important;
}
.footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 14px;
}
.footer ul li a img{
    filter: invert(1);
    max-width: 20px;
}
#show{
    display: none;
}



/* medium laptop */
@media (max-width: 1030px){
    #myBtn{
        width: 4% !important;
    }
    .heading{
        font-size: 25px;
    }
    .text{
        font-size: 16px;
    }
    .banner header{
        padding: 20px 50px;
    }
    .banner header .toggle{
        width: 100%;
    }
    .banner .content h2{
        font-size: 40px;
    }
    .banner .content p{
        font-size: 15px;
    }
    .services{
        padding: 50px;
    }
    .services .heading{
        width: 30%;
    }
    .services .text{
        font-size: 18px !important;
    }
    .services .container{
        margin-top: 40px;
    }
    .services .serviceBx{
        width: 220px !important;
        height: 270px !important;
    }
    .services .serviceBx img{
        width: 60px;
    }
    .technology{
        padding-top: 200px;
        margin-top: -200px;
    }
    .technology .contentBx{
        height: 45vh;
        padding: 25px;
        padding-top: 150px;
    }
    .technology .contentBx h2{
        width: 60% !important;
    }
    .gallery{
        padding: 50px;
    }
    .yet{
        width: 30%;
        margin-bottom: 30px;
    }
    .contact{
        padding: 25px;
    }
    .form .inputBx input,
    .form .inputBx textarea {
        font-size: 16px !important;
    }
}

/* tablet */
@media (max-width: 800px){
    #myBtn{
        width: 5% !important;
    }
    .banner .logo-div a:nth-child(2){
        display: block;
    }
    .banner header{
        display: block;
        height: 100% !important;
        width: 100% !important;
    }
    .banner .toggle{
        position: absolute;
        left:120%;
        width: 120% !important;
        height: 100% !important;
        background-color: black;
        padding: 1rem 0;
        margin: 15px -50px 0 -50px;
        transition: 0.5s ease;
    }
    .banner .toggle ul{
        display: flex;
        flex-direction: column;
    }
    .banner .toggle ul li{
        padding: 1rem;
        width: 100% !important;
        text-align: center;
        cursor: pointer;
    }
    .topnav.responsive .toggle {
        left:0
    }
    .banner p{
        max-width: 600px;
    }
    .services .serviceBx{
        width: 180px !important;
        height: 230px !important;
    }
    .services .serviceBx img{
        width: 60px;
    }
    .services .serviceBx h2{
        font-size: 15px !important;
    }
    .technology{
        padding-top: 180px;
        margin-top: -180px;
        padding: 180px 10px 50px 10px;
    }
    .technology .contentBx h2{
        width: 55% !important;
        font-size: 20px !important;
    }
    .technology .contentBx p{
        font-size: 15px !important;
    }
    .gallery #photos {
        -moz-column-count:    3;
        -webkit-column-count: 3;
        column-count:         3;
    }
    .photo img:nth-child(n+32) {
        display:none;      // hide all uls starting from 5th child
    }
    .photo.responsive img:nth-child(n+32) {
        display: block;
    }
    #show{
        display: block;
    }
    .comingsoon{
        display: none;
    }
    .contact{
        padding: 20px;
    }
    .form .inputBx input,
    .form .inputBx textarea {
        font-size: 15px !important;
    }
    .footer{
        padding: 20px 50px;
    }
    .footer p,
    .footer li{
        font-size: 12px !important;
    }
    .footer li{
        margin: 0 5px !important;
    }
    .footer li img{
        width: 15px;
        height: 15px;
    }
}
@media (max-width: 500px){
    #myBtn{
        width: 9% !important;
    }
    .banner header{
        width: 100%;
    }
    .banner .toggle{
        left:130%;
        width: 130% !important;
    }
    .banner p{
        max-width: 400px;
    }
    .about{
        flex-direction: column !important;
        overflow: visible;
    }
    .about .contentBx{
        width: 100% !important;
    }
    .about .imgBx{
        width: 100%;
        height: 500px;
        background: url("../assets/clock.png") !important;
        background-size: cover !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
    }
    .about .imgBx:after {
        display: none;
    }
    .services{
        padding: 30px 0;
    }
    .services .heading{
        width: 60%;
        font-size: 20px !important;
    }
    .services .text{
        font-size: 15px !important;
        max-width: 400px;
    }
    .services .container{
        margin-top: 20px;
    }
    .services .serviceBx{
        width: 130px !important;
        height: 180px !important;
    }
    .services .serviceBx img{
        width: 40px;
    }
    .services .serviceBx h2{
        font-size: 13px !important;
    }
    .technology{
        padding-top: 280px !important;
        margin-top: -120px;
        padding: 180px 10px 50px 10px;
    }
    .technology .contentBx h2{
        width: 60% !important;
        font-size: 18px !important;
    }
    .technology .contentBx p{
        font-size: 15px !important;
    }
    .technology .contentBx{
        padding: 30px 10px!important;
        height: auto !important;
    }
    .technology video{
        top: -150px !important;
        height: 23vh !important;
    }
    .photo img:nth-child(n+20) {
        display:none;      // hide all uls starting from 5th child
    }
    .photo.responsive img:nth-child(n+20) {
        display: block;
    }
    .gallery{
        padding: 30px !important;
    }
    .gallery h2{
        margin-bottom: 30px;
        font-size: 20px !important;
    }
    .gallery #photos {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
    }
    .yet{
        width: 40% !important;
        padding: 5px !important;
        font-size: 15px;
    }
    .contact{
        padding: 10px !important;
    }
    .contact h2{
        font-size: 20px !important;
    }
    .about.about2{
        min-height: auto !important;
    }
    .about.about2 .form{
        padding: 10px 40px !important;
    }
    .footer{
        padding: 20px 50px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul{
        margin-bottom: 10px;
    }
}
@media (max-width: 400px){
    .banner header{
        width: 100%;
        padding: 20px;
    }
    .banner header .logo{
        font-size: 20px;
    }
    .banner p{
        max-width: 350px;
    }
    .services{
        padding: 30px 5px;
    }
    .services .serviceBx{
        width: 110px !important;
        height: 160px !important;
    }
    .services .serviceBx h2{
        font-size: 13px !important;
    }
    .photo img:nth-child(n+20) {
        display:none;      // hide all uls starting from 5th child
    }
    .photo.responsive img:nth-child(n+20) {
        display: block;
    }
    .footer{
        padding: 20px;
        flex-direction: column-reverse;
        text-align: center;
    }
    .footer ul{
        margin-bottom: 10px;
    }
}